@charset "UTF-8";

@font-face {
  font-family: "Geometria";
  font-display: swap;
  src: url("../fonts/geometria-bold.woff") format("woff"), url("../fonts/geometria-bold.woff2") format("woff2");
  font-weight: 700;
  font-style: normal;
}

@font-face {
  font-family: "Geometria";
  font-display: swap;
  src: url("../fonts/geometria-medium.woff") format("woff"), url("../fonts/geometria-medium.woff2") format("woff2");
  font-weight: 500;
  font-style: normal;
}

@font-face {
  font-family: "Geometria";
  font-display: swap;
  src: url("../fonts/geometria-light.woff") format("woff"), url("../fonts/geometria-light.woff2") format("woff2");
  font-weight: 300;
  font-style: normal;
}

@font-face {
  font-family: "Geometria";
  font-display: swap;
  src: url("../fonts/geometria-regular.woff") format("woff"), url("../fonts/geometria-regular.woff2") format("woff2");
  font-weight: 400;
  font-style: normal;
}

@font-face {
  font-family: "Geometria";
  font-display: swap;
  src: url("../fonts/geometria-heavy.woff") format("woff"), url("../fonts/geometria-heavy.woff2") format("woff2");
  font-weight: 900;
  font-style: normal;
}

/*Обнуление*/

* {
  padding: 0;
  margin: 0;
  border: 0;
}

*,
*:before,
*:after {
  -webkit-box-sizing: border-box;
  box-sizing: border-box;
}

:focus,
:active {
  outline: none;
}

a:focus,
a:active {
  outline: none;
}

nav,
footer,
header,
aside {
  display: block;
}

html,
body {
  height: 100%;
  width: 100%;
  font-size: 100%;
  line-height: 1;
  font-size: 14px;
  -ms-text-size-adjust: 100%;
  -moz-text-size-adjust: 100%;
  -webkit-text-size-adjust: 100%;
}

input,
button,
textarea {
  font-family: inherit;
}

input::-ms-clear {
  display: none;
}

button {
  cursor: pointer;
}

button::-moz-focus-inner {
  padding: 0;
  border: 0;
}

a,
a:visited {
  text-decoration: none;
}

a:hover {
  text-decoration: none;
}

ul li {
  list-style: none;
}

img {
  vertical-align: top;
}

h1,
h2,
h3,
h4,
h5,
h6 {
  font-size: inherit;
  font-weight: inherit;
}

/*--------------------*/

.header {
  z-index: 2;
  position: relative;
}

.header__content {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-direction: row;
          flex-direction: row;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  padding: 20px 0 20px 0;
}

.header__menu {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}

.burger {
  cursor: pointer;
}

.burger__icon {
  width: 40px;
  height: 29px;
  position: relative;
}

.burger__icon::before {
  width: 40px;
  height: 3px;
  left: 0;
  top: 0;
}

.burger__icon::after {
  width: 20px;
  height: 3px;
  left: 0;
  bottom: 0;
}

.burger__icon span {
  width: 30px;
  height: 3px;
  left: 0;
  top: 50%;
  -webkit-transform: translateY(-50%) scale(1);
      -ms-transform: translateY(-50%) scale(1);
          transform: translateY(-50%) scale(1);
}

.burger__icon::before,
.burger__icon::after {
  content: "";
}

.burger__icon::before,
.burger__icon::after,
.burger__icon span {
  background: #2a94e2;
  border-radius: 50px;
  position: absolute;
  -webkit-transition: 0.3s;
  -o-transition: 0.3s;
  transition: 0.3s;
}

.burger__text {
  font-family: Geometria;
  font-size: 16px;
  line-height: 26px;
  color: #000000;
  margin: 0 0 0px 20px;
  font-weight: normal;
}

.burger__icon.active::before {
  -webkit-transform-origin: left;
      -ms-transform-origin: left;
          transform-origin: left;
  -webkit-transform: rotate(45deg);
      -ms-transform: rotate(45deg);
          transform: rotate(45deg);
  width: 36px;
}

.burger__icon.active::after {
  -webkit-transform-origin: left;
      -ms-transform-origin: left;
          transform-origin: left;
  -webkit-transform: rotate(-45deg);
      -ms-transform: rotate(-45deg);
          transform: rotate(-45deg);
  width: 36px;
}

.burger__icon.active span {
  -webkit-transform: scale(0);
      -ms-transform: scale(0);
          transform: scale(0);
}

.logo {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -ms-flex-item-align: start;
      align-self: flex-start;
}

.logo__img {
  margin: 0 30px 0 0;
}

.logo__text {
  font-family: Geometria;
  font-size: 16px;
  line-height: 26px;
  color: #000000;
  font-weight: 400;
}

.contacts {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
}

.contacts__number {
  font-family: Geometria;
  font-size: 30px;
  line-height: 49px;
  font-weight: 400;
  margin: 0 0 25px 0;
  color: #000000;
}

.contacts__call {
  font-family: Geometria;
  font-size: 16px;
  line-height: 24px;
  color: #000000;
  font-weight: bold;
  padding: 15px 21px;
  border: 1px solid #2a94e2;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
  border-radius: 5px;
  -webkit-transition: 0.5s;
  -o-transition: 0.5s;
  transition: 0.5s;
}

.contacts__call:hover {
  background-color: #2a94e2;
  color: #fff;
  -webkit-box-shadow: 0px 0px 5px 5px #2a94e2;
          box-shadow: 0px 0px 5px 5px #2a94e2;
}

.menu-hidden {
  background: #fffafa;
  border-bottom: 1px solid black;
}

.menu-hidden__content {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
}

.menu-hidden__item {
  padding: 20px 10px 20px 10px;
  font-family: Geometria;
  cursor: pointer;
  font-size: 16px;
  line-height: 24px;
  font-weight: bold;
  color: #000000;
  -webkit-transition: 0.3s;
  -o-transition: 0.3s;
  transition: 0.3s;
}

.menu-hidden__item:hover {
  color: white;
  background-color: #2a94e2;
}

.fullscreen-body {
  padding: 10px 0 80px 0;
  z-index: 2;
  position: relative;
}

.fullscreen-body__title {
  font-family: Geometria;
  font-size: 50px;
  line-height: 75px;
  text-transform: uppercase;
  color: #000000;
  font-weight: 900;
  margin-bottom: 47px;
  max-width: 590px;
}

.fullscreen-body__text {
  font-family: Geometria;
  font-size: 22px;
  line-height: 36px;
  margin-bottom: 49px;
  max-width: 540px;
  color: #000000;
}

.fullscreen-body__numbers {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  max-width: 834px;
  margin: 0 0 58px 0;
}

.fullscreen-body__button {
  padding: 20px 30px;
  color: white;
  cursor: pointer;
  background: #2a94e2;
  max-width: 360px;
  text-align: center;
  border: 2px solid #2a94e2;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
  border-radius: 5px;
  font-family: Geometria;
  font-size: 20px;
  line-height: 30px;
  text-align: center;
  -webkit-transition: 0.3s;
  -o-transition: 0.3s;
  transition: 0.3s;
  color: #ffffff;
}

.fullscreen-body__button:hover {
  background-color: #fff;
  color: #2a94e2;
  -webkit-box-shadow: 0px 0px 5px 5px #2a94e2;
          box-shadow: 0px 0px 5px 5px #2a94e2;
}

.numbers__item {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-flex: 1;
      -ms-flex: 1 1 auto;
          flex: 1 1 auto;
  margin: 0 0 0 10px;
}

.numbers__left {
  font-family: Geometria;
  font-size: 80px;
  font-weight: 300;
  color: #000000;
}

.numbers__right {
  font-family: Geometria;
  font-size: 16px;
  line-height: 26px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: end;
      -ms-flex-align: end;
          align-items: flex-end;
  color: #000000;
  margin: 0 0 5px 20px;
}

.gift {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  margin: 0 0 43px 0;
}

.gift__text {
  font-family: Geometria;
  font-size: 16px;
  line-height: 26px;
  max-width: 376px;
  margin-left: 20px;
  -ms-flex-item-align: center;
      align-self: center;
  color: #000000;
}

.gift__text a {
  font-weight: bold;
  color: black;
}

.test {
  background-color: #fff;
  padding: 60px 0 60px 0;
}

.test__title {
  font-family: Geometria;
  font-size: 35px;
  line-height: 48px;
  text-align: center;
  font-weight: 900;
  color: #000000;
  margin: 0 0 30px 0;
}

.test__subtitle {
  font-family: Geometria;
  font-size: 22px;
  line-height: 35px;
  text-align: center;
  font-weight: 400;
  color: #000000;
  margin: 0 0 42px 0;
}

.test__main {
  background: #ffffff;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  border: 3px solid #f6f6f6;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
}

.test__questions {
  padding: 43px 38px 18px 38px;
  -webkit-box-flex: 1;
      -ms-flex: 1 1 66.6666%;
          flex: 1 1 66.6666%;
}

.test__text {
  -webkit-box-flex: 1;
      -ms-flex: 1 1 33.3333%;
          flex: 1 1 33.3333%;
  padding: 40px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -ms-flex-pack: distribute;
      justify-content: space-around;
}

.test__text-item {
  font-family: Geometria;
  font-size: 16px;
  line-height: 26px;
  padding: 5px 0 5px 53px;
  color: #000000;
  background-image: url(../img/check.svg);
  background-repeat: no-repeat;
  background-position: 0 10px;
}

@-webkit-keyframes arrow {
  0% {
    right: 0;
  }

  50% {
    right: -5px;
  }

  100% {
    right: 0;
  }
}

@keyframes arrow {
  0% {
    right: 0;
  }

  50% {
    right: -5px;
  }

  100% {
    right: 0;
  }
}

.questions {
  border-right: 3px solid #f6f6f6;
}

.questions__title {
  font-family: Geometria;
  font-size: 22px;
  line-height: 33px;
  color: #000000;
  font-weight: 900;
  margin: 0 0 15px 0;
}

.questions__main {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  margin: 0 -15px 0 -15px;
  min-height: 310px;
}

.questions__item {
  padding: 15px;
  cursor: pointer;
  -webkit-box-flex: 1;
      -ms-flex: 1 1 50%;
          flex: 1 1 50%;
  -webkit-transition: 0.3s;
  -o-transition: 0.3s;
  transition: 0.3s;
  min-width: 233px;
}

.questions__img {
  overflow: hidden;
  position: relative;
  padding: 0 0 65% 0;
}

.questions__img img {
  width: 100%;
  height: 100%;
  -o-object-fit: cover;
     object-fit: cover;
  position: absolute;
  top: 0;
  left: 0;
}

.questions__img:hover {
  outline: 4px solid lightgray;
}

.questions__text {
  font-family: Geometria;
  font-size: 16px;
  line-height: 26px;
  text-align: center;
  font-weight: bold;
  color: #000000;
  opacity: 0.5;
  margin: 25px 0 15px 0;
}

.questions__item:hover .questions__text {
  opacity: 0.7;
}

.questions__info {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  margin: 0 0 10px 0;
  padding: 30px 0 0 0;
  border-top: 2px solid #f1f1f1;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.questions__counter {
  font-family: Geometria;
  font-size: 16px;
  line-height: 26px;
  color: #000000;
}

.questions__next {
  font-family: Geometria;
  font-size: 16px;
  line-height: 26px;
  color: #2a94e2;
  padding: 0 36px 0 0;
  position: relative;
  cursor: pointer;
}

.questions__next::after {
  position: absolute;
  content: "";
  background-image: url(../img/arrow.svg);
  background-position: 100% 50%;
  background-repeat: no-repeat;
  width: 22px;
  height: 13px;
  top: 50%;
  -webkit-transform: translate(0, -50%);
      -ms-transform: translate(0, -50%);
          transform: translate(0, -50%);
  right: 0;
}

.questions__next:hover {
  text-decoration: underline;
}

.questions__next:hover::after {
  -webkit-animation: arrow 0.5s ease-in-out;
          animation: arrow 0.5s ease-in-out;
}

.helper {
  opacity: 1;
  -webkit-transition: 0.3s;
  -o-transition: 0.3s;
  transition: 0.3s;
}

.questions__item.active .questions__img {
  outline: 4px solid #2a94e2;
}

.questions__item.active .questions__text {
  opacity: 1;
}

.helper.hidden {
  opacity: 0;
}

.questions__item.disabled .questions__img {
  outline: 4px solid red;
}

.questions__next.disabled {
  pointer-events: none;
}

#myInput.disabled {
  outline: 4px solid red;
}

.testInput__inp.disabled {
  border-bottom: 2px solid red;
}

.select {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-pack: start;
      -ms-flex-pack: start;
          justify-content: flex-start;
  width: 100%;
  font-family: Geometria;
}

#myInput {
  background-position: 10px 12px;
  background-repeat: no-repeat;
  width: 100%;
  font-size: 16px;
  padding: 12px 20px 12px 20px;
  border: 1px solid #ddd;
  margin-bottom: 12px;
  margin-top: 15px;
  -webkit-box-flex: 1;
      -ms-flex: 1;
          flex: 1;
  max-height: 45px;
}

.myUL {
  list-style-type: none;
  padding: 0;
  margin: 0;
  display: block;
  overflow: auto;
  max-height: 230px;
}

.myUL li {
  border: 1px solid #ddd;
  margin-top: 0px;
  /* Prevent double borders */
  background-color: #f6f6f6;
  padding: 12px;
  text-decoration: none;
  font-size: 18px;
  color: black;
  display: block;
  cursor: pointer;
}

.myUL li a:hover:not(.header) {
  background-color: #eee;
}

#myInput.active {
  display: block;
}

.testInput {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  width: 100%;
}

.testInput__content {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  padding: 10px;
  -webkit-box-flex: 0;
      -ms-flex: 0 1 300px;
          flex: 0 1 300px;
}

.testInput__content input {
  font-family: Geometria;
  font-size: 36px;
  line-height: 26px;
  padding: 5px;
  text-align: center;
  width: 100%;
  border-bottom: 1px solid #000;
}

.testInput__text {
  font-family: Geometria;
  margin: 0 0 0 10px;
  font-size: 56px;
  line-height: 56px;
}

.send {
  width: 100%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  padding: 20px 0 20px 0;
}

.send__content {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
}

.send__content input {
  font-family: Geometria;
  font-size: 26px;
  line-height: 36px;
  border: 1px solid black;
  text-align: center;
  margin: 0 0 20px 0;
}

.send__content button {
  padding: 10px 60px;
  font-family: Geometria;
  font-size: 20px;
  line-height: 30px;
  background-color: #2ab1ed;
  border-radius: 5px;
  font-weight: 500;
  color: white;
}

.send__text {
  font-family: Geometria;
  font-size: 26px;
  max-width: 600px;
  margin: 0 0 20px 0;
  line-height: 36px;
  text-align: center;
}

.send__text span {
  font-size: 36px;
  line-height: 46px;
}

.services {
  padding-bottom: 60px;
}

.services__title {
  font-family: Geometria;
  font-size: 35px;
  line-height: 48px;
  font-weight: 900;
  margin: 0 0 30px 0;
  text-align: center;
  color: #000000;
}

.services__blocks {
  display: grid;
  grid-template-columns: 1fr 1fr 1fr;
  grid-template-rows: 300px 300px 300px;
  gap: 10px;
}

.blocks__block {
  position: relative;
  background-repeat: no-repeat;
  background-size: cover;
  background-position: center;
  overflow: hidden;
  cursor: pointer;
}

.blocks__block::after {
  content: "";
  width: 100%;
  height: 100%;
  position: absolute;
  z-index: 2;
}

.blocks__block:hover::after {
  background-color: rgba(0, 0, 0, 0.4);
}

.blocks__content {
  position: absolute;
  left: 20px;
  top: 100%;
  bottom: -50%;
  margin-top: -50px;
  -webkit-transition: 1s;
  -o-transition: 1s;
  transition: 1s;
  padding-right: 20px;
}

.blocks__block:hover .blocks__content {
  bottom: 20px;
  top: auto;
  margin-top: 0px;
  padding-right: 20px;
  z-index: 3;
}

.no-webp .blocks__block:nth-of-type(1){
  background-image: url(../img/Rectangle12.png); }

.blocks__block:nth-of-type(1) {
  grid-column: 1/2;
  grid-row: 1/3;
}

.no-webp .blocks__block:nth-of-type(2){
  background-image: url(../img/Rectangle12.1.png); }

.no-webp .blocks__block:nth-of-type(3){
  background-image: url(../img/Rectangle12.3.png); }

.no-webp .blocks__block:nth-of-type(4){
  background-image: url(../img/Rectangle12.2.png); }

.blocks__block:nth-of-type(4) {
  grid-column: 2/4;
  grid-row: 2/3;
}

.no-webp .blocks__block:nth-of-type(5){
  background-image: url(../img/Rectangle12.4.png); }

.blocks__block:nth-of-type(5) {
  grid-column: 1/3;
  grid-row: 3/4;
}

.no-webp .blocks__block:nth-of-type(6){
  background-image: url(../img/Rectangle12.5.png); }

.blocks__title {
  font-family: Geometria;
  font-size: 22px;
  line-height: 33px;
  margin: 0 0 20px 0;
  color: #FFFFFF;
  font-weight: bold;
}

.blocks__text {
  font-family: Geometria;
  font-size: 16px;
  line-height: 26px;
  margin: 0 0 20px 0;
  color: #FFFFFF;
  -webkit-line-clamp: 3;
  display: -webkit-box;
  -webkit-box-orient: vertical;
  overflow: hidden;
}

.blocks__button {
  padding-top: 15px;
  padding-bottom: 15px;
  font-family: Geometria;
  font-size: 16px;
  line-height: 24px;
  color: #FFFFFF;
  display: block;
  background: #2A94E2;
  text-align: center;
  border: 2px solid #2A94E2;
  width: 100%;
  max-width: 370px;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
  border-radius: 5px;
}

.blocks__button:hover {
  background-color: #fff;
  color: #2A94E2;
  font-weight: bold;
}

.catalog {
  padding-bottom: 60px;
}

.catalog__title {
  font-family: Geometria;
  font-size: 35px;
  line-height: 48px;
  text-align: center;
  font-weight: 900;
  color: #000000;
  margin: 0 0 30px 0;
}

.catalog__subtitle {
  font-family: Geometria;
  font-size: 22px;
  line-height: 36px;
  text-align: center;
  font-weight: normal;
  color: #000000;
  margin: 0 0 40px 0;
}

.sort__nav {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  width: 100%;
  margin-bottom: 30px;
}

.sort__nav-block {
  -webkit-box-flex: 1;
      -ms-flex: 1;
          flex: 1;
  font-family: Geometria;
  font-size: 16px;
  line-height: 26px;
  cursor: pointer;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  padding: 19px 0 19px 0;
  border: 2px solid #F6F6F6;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
  color: #000000;
}

.sort__nav-block.active {
  color: #fff;
  background-color: #2a94e2;
  border: 2px solid #2A94E2;
}

.sort__nav-block:not(.active):hover {
  background: #f6f6f6;
}

.sort__container {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
  gap: 30px;
}

.sort__block {
  -webkit-box-flex: 1;
      -ms-flex: 1 1 45%;
          flex: 1 1 45%;
  cursor: pointer;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -webkit-transition: 0.3s;
  -o-transition: 0.3s;
  transition: 0.3s;
}

.sort__block:last-child {
  -webkit-box-flex: 0;
      -ms-flex: 0 1 calc(50% - 15px);
          flex: 0 1 calc(50% - 15px);
}

.sort__block:hover {
  -webkit-box-shadow: 0px 0px 18px rgba(233, 80, 79, 0.25);
          box-shadow: 0px 0px 18px rgba(233, 80, 79, 0.25);
}

.sort__block:hover .sort-block__title {
  color: #2a94e2;
}

.sort__block:hover .sort-block__button {
  background-color: #2a94e2;
  color: white;
}

.sort-block {
  border: 1px solid #f6f6f6;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
}

.sort-block__img {
  overflow: hidden;
  position: relative;
  padding-bottom: 53%;
}

.sort-block__img img {
  width: 100%;
  height: 100%;
  -o-object-fit: cover;
     object-fit: cover;
  position: absolute;
  top: 0;
  left: 0;
}

.sort-block__title {
  font-family: Geometria;
  font-size: 22px;
  line-height: 33px;
  font-weight: 900;
  margin-top: 30px;
  margin-bottom: 15px;
  color: #000000;
  padding: 0 30px;
  -webkit-transition: 0.3s;
  -o-transition: 0.3s;
  transition: 0.3s;
}

.sort-block__lot {
  font-family: Geometria;
  font-size: 16px;
  line-height: 24px;
  font-weight: 400;
  margin-bottom: 20px;
  color: #000000;
  padding: 0 30px;
}

.sort-block__info {
  padding: 0 30px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  margin-bottom: 15px;
}

.sort-block__price {
  font-family: Geometria;
  font-size: 33px;
  line-height: 40px;
  margin-bottom: 10px;
  color: #000000;
}

.sort-block__priceformeter {
  font-family: Geometria;
  font-size: 16px;
  line-height: 26px;
  color: #000000;
  opacity: 0.7;
}

.sort-block__right {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
}

.sort-block__square {
  font-family: Geometria;
  font-size: 16px;
  line-height: 26px;
  color: #000000;
}

.sort-block__floor {
  font-family: Geometria;
  font-size: 16px;
  line-height: 26px;
  color: #000000;
}

.sort-block__button {
  font-family: Geometria;
  font-size: 18px;
  line-height: 27px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  padding: 18px 0;
  background: #f6f6f6;
  font-weight: bold;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
  color: #000000;
  -webkit-transition: 0.3s;
  -o-transition: 0.3s;
  transition: 0.3s;
}

.catalog__more {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  padding: 18px 0;
  margin-top: 40px;
  width: 100%;
  background: #f6f6f6;
  cursor: pointer;
}

.catalog__more:hover {
  outline: 2px solid gray;
}

.catalog__more-text {
  font-family: Geometria;
  font-size: 16px;
  line-height: 26px;
  color: #000000;
  font-weight: 500;
  position: relative;
}

.catalog__more-text::after {
  content: "";
  position: absolute;
  width: 9px;
  height: 9px;
  border-left: 1px solid black;
  border-bottom: 1px solid black;
  top: 50%;
  -webkit-transform: translate(15px, -65%) rotate(-45deg);
      -ms-transform: translate(15px, -65%) rotate(-45deg);
          transform: translate(15px, -65%) rotate(-45deg);
}

.about-us {
  background: #f6f6f6;
  padding-top: 65px;
  padding-bottom: 65px;
}

.about-us__content {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: start;
      -ms-flex-align: start;
          align-items: flex-start;
}

.about-us__info {
  -webkit-box-flex: 0;
      -ms-flex: 0 0 50%;
          flex: 0 0 50%;
  padding-top: 30px;
}

.about-us__title {
  font-family: Geometria;
  font-size: 35px;
  line-height: 48px;
  margin: 0 0 35px 0;
  color: #000000;
  font-weight: 900;
}

.about-us__text {
  font-family: Geometria;
  font-size: 16px;
  line-height: 26px;
  margin: 0 0 20px 0;
}

.about-us__text p:first-child {
  margin-bottom: 20px;
}

.about-us__button {
  font-family: Geometria;
  font-size: 20px;
  line-height: 30px;
  color: #ffffff;
  padding: 14px 0 14px 0;
  background: #2a94e2;
  border-radius: 5px;
  display: block;
  max-width: 50%;
  text-align: center;
  -webkit-transition: 0.3s;
  -o-transition: 0.3s;
  transition: 0.3s;
}

.about-us__button:hover {
  background-color: #fff;
  color: #2a94e2;
  -webkit-box-shadow: 0px 0px 5px 5px #2a94e2;
          box-shadow: 0px 0px 5px 5px #2a94e2;
}

.about-us__pictures {
  -webkit-box-flex: 0;
      -ms-flex: 0 1 50%;
          flex: 0 1 50%;
}

.pictures {
  padding-left: 30px;
}

.pictures__main {
  max-width: 100%;
  overflow: hidden;
  position: relative;
  padding-bottom: 78%;
}

.pictures__main img {
  width: 100%;
  height: 100%;
  -o-object-fit: cover;
     object-fit: cover;
  position: absolute;
  top: 0;
  left: 0;
}

.pictures__items {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  gap: 10px;
  margin-top: 10px;
}

.pictures__item {
  overflow: hidden;
  position: relative;
  padding-bottom: 19%;
  cursor: pointer;
  -webkit-box-flex: 1;
      -ms-flex: 1 1 auto;
          flex: 1 1 auto;
  -webkit-transition: 0.1s;
  -o-transition: 0.1s;
  transition: 0.1s;
}

.pictures__item img {
  width: 100%;
  height: 100%;
  -o-object-fit: cover;
     object-fit: cover;
  position: absolute;
  top: 0;
  left: 0;
}

.pictures__item:hover {
  outline: 3px solid #2a94e2;
  outline-offset: 1px;
}

.direction {
  padding: 60px 0 60px 0;
}

.direction__title {
  font-family: Geometria;
  font-size: 35px;
  line-height: 48px;
  text-align: center;
  color: #000000;
  font-weight: 900;
  margin: 0 0 30px 0;
}

.cards {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
  gap: 30px;
}

.no-webp .prev-direction{
  background-image: url("../img/right-arrow.png"); }

.prev-direction {
  position: absolute;
  top: 50%;
  -webkit-transform: translate(0px, -50%) rotate(180deg);
      -ms-transform: translate(0px, -50%) rotate(180deg);
          transform: translate(0px, -50%) rotate(180deg);
  left: 20px;
  width: 50px;
  height: 50px;
  background-size: contain;
  background-repeat: no-repeat;
  z-index: 11;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.no-webp .next-direction{
  background-image: url("../img/right-arrow.png"); }

.next-direction {
  position: absolute;
  top: 50%;
  -webkit-transform: translate(0px, -50%);
      -ms-transform: translate(0px, -50%);
          transform: translate(0px, -50%);
  right: 20px;
  width: 50px;
  height: 50px;
  z-index: 11;
  background-size: contain;
  background-repeat: no-repeat;
}

.swiper-pagination {
  position: relative;
  margin-top: 25px;
  display: none;
}

.swiper-pagination-bullet {
  width: 10px;
  height: 10px;
}

.swiper-direction {
  display: none;
}

.no-webp .card{
  background-image: url("../img/1df.png"); }

.card {
  -webkit-box-flex: 1;
      -ms-flex: 1 1 calc(50% - 30px);
          flex: 1 1 calc(50% - 30px);
  padding: 30px 57px 20px 50px;
  border: 1px solid #5ca9e060;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  border-radius: 10px;
  background-position: 0 10px;
  background-repeat: no-repeat;
}

.card__title {
  font-family: Geometria;
  font-size: 22px;
  line-height: 33px;
  color: #000000;
  font-weight: 800;
  margin: 0 0 40px 0;
}

.card__center {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
}

.card__post {
  font-family: Geometria;
  font-size: 12px;
  line-height: 20px;
  color: #000000;
  opacity: 0.5;
}

.card__name {
  font-family: Geometria;
  font-size: 16px;
  line-height: 26px;
  color: #000000;
  margin: 0 0 20px 0;
}

.card__number {
  display: block;
  font-family: Geometria;
  font-size: 25px;
  line-height: 41px;
  color: #000000;
}

.card__email {
  display: block;
  font-family: Geometria;
  font-size: 16px;
  line-height: 26px;
  -webkit-text-decoration-line: underline;
          text-decoration-line: underline;
  color: #000000;
}

.card__img {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  overflow: hidden;
  position: relative;
  padding-top: 34%;
  padding-left: 30%;
}

.card__img img {
  width: 100%;
  height: 100%;
  position: absolute;
  -o-object-fit: contain;
     object-fit: contain;
  top: 0;
  left: 0;
}

.boss {
  background: #eef3fa;
  padding-top: 60px;
}

.boss__content {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
}

.boss__info {
  max-width: 666px;
  padding-bottom: 60px;
}

.boss__title {
  font-family: Geometria;
  font-size: 35px;
  line-height: 48px;
  font-weight: 900;
  color: #000000;
  margin-bottom: 20px;
  max-width: 470px;
}

.boss__name {
  font-family: Geometria;
  font-size: 22px;
  line-height: 33px;
  font-weight: 900;
  color: #000000;
  margin-bottom: 25px;
}

.boss__text {
  display: block;
  font-family: Geometria;
  font-size: 16px;
  line-height: 26px;
  color: #000000;
  margin-bottom: 20px;
}

.boss__text p:not(:last-child) {
  margin-bottom: 28px;
}

.boss__button {
  font-family: Geometria;
  font-size: 20px;
  line-height: 30px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  text-align: center;
  color: #ffffff;
  padding: 14px 22px;
  display: block;
  background: #2a94e2;
  border-radius: 5px;
  max-width: 270px;
  -webkit-transition: 0.3s;
  -o-transition: 0.3s;
  transition: 0.3s;
}

.boss__button:hover {
  background-color: #fff;
  color: #2a94e2;
  -webkit-box-shadow: 0px 0px 5px 5px #2a94e2;
          box-shadow: 0px 0px 5px 5px #2a94e2;
}

.boss__img {
  -ms-flex-item-align: end;
      align-self: flex-end;
}

.footer {
  background: #535860;
  padding: 40px 0 40px 0;
}

.footer__content {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
}

.footer__info {
  -webkit-box-flex: 0;
      -ms-flex: 0 1 322px;
          flex: 0 1 322px;
}

.footer__timework {
  font-family: Geometria;
  font-size: 13px;
  line-height: 26px;
  color: #ffffff;
  margin-bottom: 15px;
}

.footer__adress {
  font-family: Geometria;
  font-size: 16px;
  line-height: 26px;
  margin-bottom: 20px;
  color: #ffffff;
}

.footer__doc {
  font-family: Geometria;
  font-size: 13px;
  line-height: 21px;
  color: #ffffff;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
}

.footer__logo {
  -webkit-box-flex: 0;
      -ms-flex: 0 1 369px;
          flex: 0 1 369px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.footer__text {
  font-family: Geometria;
  font-size: 16px;
  line-height: 26px;
  margin-left: 30px;
  color: #ffffff;
}

.footer__contacts {
  -webkit-box-flex: 0;
      -ms-flex: 0 1 279px;
          flex: 0 1 279px;
}

.footer__number {
  font-family: Geometria;
  font-size: 30px;
  line-height: 49px;
  margin-bottom: 7px;
  text-align: center;
  color: #ffffff;
  display: block;
  white-space: nowrap;
}

.footer__email {
  font-family: Geometria;
  font-size: 22px;
  line-height: 36px;
  -webkit-text-decoration-line: underline;
          text-decoration-line: underline;
  text-align: center;
  display: block;
  margin-bottom: 10px;
  color: #ffffff;
}

.footer__button {
  font-family: Geometria;
  font-size: 16px;
  line-height: 24px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  padding: 15px 0 15px 0;
  border-radius: 5px;
  background-color: white;
  color: #000000;
  font-weight: bold;
  -webkit-transition: 0.3s;
  -o-transition: 0.3s;
  transition: 0.3s;
}

.footer__button:hover {
  background-color: #2b80e2;
  color: white;
}

.modal-window {
  position: fixed;
  top: 0;
  left: 0;
  bottom: 0;
  right: 0;
  width: 100%;
  height: 100%;
  z-index: 5;
  display: none;
  z-index: 500;
  background-color: rgba(47, 47, 47, 0.472);
}

.modal-window__content {
  position: fixed;
  background-color: #fff;
  border-radius: 20px;
  padding: 15px;
  top: 50%;
  left: 50%;
  -webkit-transform: translate(-50%, -50%);
      -ms-transform: translate(-50%, -50%);
          transform: translate(-50%, -50%);
  width: 400px;
  border: 2px solid #2a94e2;
}

.modal-window__close::after {
  content: "";
  position: absolute;
  top: 13px;
  right: 0;
  width: 25px;
  height: 3px;
  cursor: pointer;
  background-color: #2a94e2;
  -webkit-transform: rotate(-45deg);
      -ms-transform: rotate(-45deg);
          transform: rotate(-45deg);
}

.modal-window__close::before {
  content: "";
  position: absolute;
  top: 13px;
  cursor: pointer;
  right: 0;
  width: 25px;
  height: 3px;
  background-color: #2a94e2;
  -webkit-transform: rotate(45deg);
      -ms-transform: rotate(45deg);
          transform: rotate(45deg);
}

.modal-window__title {
  font-family: Geometria;
  font-size: 25px;
  line-height: 35px;
  text-align: center;
  margin-bottom: 20px;
  font-weight: bold;
}

.modal-window__close {
  position: absolute;
  top: 20px;
  right: 20px;
  height: 30px;
  width: 30px;
}

.modal-window__text {
  font-family: Geometria;
  font-size: 19px;
  line-height: 25px;
  text-align: center;
  margin-bottom: 30px;
}

.modal-window__form {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
}

.modal-window__form input {
  margin-bottom: 20px;
  padding: 10px;
  font-family: Geometria;
  font-size: 19px;
  line-height: 25px;
  border: 1px solid black;
  border-radius: 5px;
}

.modal-window__form button {
  padding: 15px 0 15px 0;
  font-family: Geometria;
  font-size: 19px;
  line-height: 25px;
  background-color: #2a94e2;
  border-radius: 5px;
  -webkit-transition: 0.3s;
  -o-transition: 0.3s;
  transition: 0.3s;
  color: white;
}

.modal-window__form button:hover {
  background-color: white;
  -webkit-box-shadow: 0 0 5px 5px #2a94e2;
          box-shadow: 0 0 5px 5px #2a94e2;
  color: #2a94e2;
}

body.disabled {
  overflow: hidden;
}

.container {
  max-width: 1193px;
  margin: 0 auto;
  padding: 0 15px 0 15px;
}

.no-webp .fullscreen{
  background-image: url("../img/bg.png"); }

.fullscreen {
  background-repeat: no-repeat;
  background-size: cover;
  background-position: center;
}

.wrapper {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  min-height: 100vh;
}

@media (max-width: 1200px) {
  .about-us__info {
    padding-top: 0;
  }

  .about-us__title {
    font-size: 25px;
    line-height: 38px;
    margin: 0 0 25px 0;
    max-width: 400px;
  }

  .about-us__text p {
    font-size: 16px;
    line-height: 24px;
    margin: 0 0 15px 0;
  }
}

@media (max-width: 1150px) {
  .test__main {
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
  }

  .test__text {
    padding: 0px 40px 30px 40px;
  }

  .test__text-item {
    padding-bottom: 10px;
    padding-top: 10px;
    background-position: 0 5px;
  }

  .questions__main {
    -ms-flex-wrap: wrap;
        flex-wrap: wrap;
    min-height: 50px;
  }

  .questions__item {
    font-size: 18px;
    line-height: 28px;
    -webkit-box-flex: 1;
        -ms-flex: 1;
            flex: 1;
  }
}

@media (max-width: 1100px) {
  .services__blocks {
    grid-template-columns: 1fr 1fr;
    grid-template-rows: 300px 300px 300px 300px;
  }

  .blocks__block:nth-of-type(3) {
    grid-column: 2/3;
    grid-row: 2/3;
  }

  .blocks__block:nth-of-type(4) {
    grid-column: 1/3;
    grid-row: 3/4;
  }

  .blocks__block:nth-of-type(5) {
    grid-column: 1/2;
    grid-row: 4/5;
  }
}

@media (max-width: 1050px) {
  .cards {
    gap: 20px;
  }

  .card {
    -webkit-box-flex: 1;
        -ms-flex: 1 1 calc(50% - 20px);
            flex: 1 1 calc(50% - 20px);
  }

  .card__title {
    font-size: 20px;
    line-height: 30px;
    margin: 0 0 25px 0;
  }
}

@media (max-width: 1037px) {
  .footer__logo {
    -webkit-box-flex: 1;
        -ms-flex: 1 1 369px;
            flex: 1 1 369px;
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
  }

  .footer__text {
    display: none;
  }
}

@media (max-width: 981px) {
  .sort-block__title {
    font-size: 20px;
    line-height: 30px;
    margin-bottom: 10px;
  }

  .sort-block__lot {
    font-size: 14px;
    line-height: 23px;
    margin-bottom: 15px;
  }

  .sort-block__price {
    font-size: 25px;
    line-height: 33px;
  }

  .sort-block__priceformeter {
    font-size: 14px;
    line-height: 24px;
  }

  .sort-block__square {
    font-size: 14px;
    line-height: 24px;
    padding-top: 0;
  }

  .sort-block__floor {
    font-size: 14px;
    line-height: 24px;
  }

  .sort-block__button {
    padding: 14px 0;
  }
}

@media (max-width: 970px) {
  .about-us__title {
    font-size: 22px;
    line-height: 32px;
    margin: 0 0 20px 0;
  }

  .about-us__text p {
    font-size: 14px;
    line-height: 22px;
    margin: 0 0 15px 0;
  }

  .about-us__button {
    font-size: 15px;
    line-height: 25px;
    padding: 12px 0 12px 0;
  }
}

@media (max-width: 940px) {
  .direction {
    padding: 40px 0 40px 0;
  }

  .direction__title {
    font-size: 28px;
    line-height: 42px;
    margin: 0 0 25px 0;
  }

  .direction__cards {
    display: none;
  }

  .swiper-pagination {
    display: block;
  }

  .swiper-direction {
    display: block;
  }

  .card {
    max-width: 500px;
    margin: 0 auto;
  }
}

@media (max-width: 900px) {
  .boss__content {
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
  }

  .boss__title {
    max-width: none;
  }

  .boss__img {
    display: none;
  }

  .fullscreen {
    background-position: right;
    position: relative;
  }

  .fullscreen::after {
    background-color: rgba(255, 255, 255, 0.8);
    position: absolute;
    min-width: 100%;
    min-height: 100%;
    content: "";
    z-index: 1;
    top: 0;
    left: 0;
  }
}

@media (max-width: 890px) {
  .contacts__number {
    font-size: 20px;
    line-height: 30px;
    margin: 0 0 15px 0;
  }

  .contacts__call {
    font-size: 13px;
    line-height: 20px;
  }
}

@media (max-width: 880px) {
  .footer__timework {
    font-size: 12px;
    line-height: 23px;
    margin-bottom: 10px;
  }

  .footer__adress {
    font-size: 13px;
    line-height: 22px;
    margin-bottom: 15px;
  }

  .footer__doc {
    font-size: 12px;
    line-height: 20px;
  }

  .footer__img img {
    width: 130px;
  }

  .footer__number {
    font-size: 25px;
    line-height: 43px;
  }

  .footer__email {
    font-size: 19px;
    line-height: 32px;
  }

  .footer__button {
    font-size: 14px;
    line-height: 22px;
    padding: 12px 0 12px 0;
  }
}

@media (max-width: 850px) {
  .numbers {
    -ms-flex-wrap: wrap;
        flex-wrap: wrap;
  }

  .sort-block__title {
    text-align: center;
  }

  .sort-block__lot {
    text-align: center;
  }

  .sort-block__info {
    -webkit-box-orient: vertical;
    -webkit-box-direction: reverse;
        -ms-flex-direction: column-reverse;
            flex-direction: column-reverse;
  }

  .sort-block__price {
    text-align: center;
  }

  .sort-block__priceformeter {
    text-align: center;
  }

  .sort-block__square {
    text-align: center;
  }

  .sort-block__floor {
    text-align: center;
  }
}

@media (max-width: 767px) {
  .logo__img {
    margin: 0 0 0px 0;
  }

  .logo__img img {
    width: 100px;
  }

  .logo__text {
    display: none;
  }

  .contacts__number {
    margin: 0 0 0px 0;
  }

  .contacts__call {
    display: none;
  }

  .blocks__block::after {
    background-color: rgba(0, 0, 0, 0.4);
  }

  .blocks__content {
    bottom: 20px;
    top: auto;
    margin-top: 0px;
    z-index: 3;
  }

  .blocks__button:hover {
    background-color: #2A94E2;
    color: #fff;
  }

  .about-us {
    padding-top: 45px;
    padding-bottom: 45px;
  }

  .about-us__content {
    -webkit-box-orient: vertical;
    -webkit-box-direction: reverse;
        -ms-flex-direction: column-reverse;
            flex-direction: column-reverse;
  }

  .about-us__info {
    -webkit-box-flex: 1;
        -ms-flex: 1 1 100%;
            flex: 1 1 100%;
  }

  .about-us__title {
    max-width: none;
  }

  .about-us__pictures {
    -webkit-box-flex: 1;
        -ms-flex: 1 1 100%;
            flex: 1 1 100%;
  }

  .pictures {
    padding-left: 0;
    margin-bottom: 30px;
    width: 100%;
  }
}

@media (max-width: 712px) {
  .prev-direction {
    left: 0px;
  }

  .next-direction {
    right: 0px;
  }
}

@media (max-width: 700px) {
  .blocks__title {
    font-size: 18px;
    line-height: 24px;
    margin: 0 0 15px 0;
  }

  .blocks__text {
    font-size: 14px;
    line-height: 20px;
    margin: 0 0 15px 0;
  }

  .blocks__button {
    font-size: 14px;
    line-height: 20px;
    margin: 0 0 0px 0;
    padding-top: 10px;
    padding-bottom: 10px;
  }

  .sort__nav {
    -ms-flex-wrap: wrap;
        flex-wrap: wrap;
  }

  .sort__nav-block {
    -webkit-box-flex: 1;
        -ms-flex: 1 1 50%;
            flex: 1 1 50%;
  }

  .sort__container {
    gap: 20px;
  }

  .sort__block {
    -webkit-box-flex: 1;
        -ms-flex: 1 1 100%;
            flex: 1 1 100%;
  }

  .sort__block:last-child {
    -webkit-box-flex: 1;
        -ms-flex: 1 1 100%;
            flex: 1 1 100%;
  }

  .sort-block__title {
    font-size: 17px;
    line-height: 26px;
    text-align: left;
    margin-top: 20px;
  }

  .sort-block__lot {
    text-align: left;
  }

  .sort-block__info {
    -webkit-box-orient: horizontal;
    -webkit-box-direction: normal;
        -ms-flex-direction: row;
            flex-direction: row;
    text-align: left;
  }

  .sort-block__price {
    text-align: left;
  }

  .sort-block__priceformeter {
    text-align: left;
  }

  .sort-block__square {
    text-align: left;
  }

  .sort-block__floor {
    text-align: left;
  }

  .sort-block__button {
    font-size: 16px;
    line-height: 24px;
  }
}

@media (max-width: 695px) {
  .footer__logo {
    display: none;
  }

  .footer__contacts {
    margin-left: 50px;
  }
}

@media (max-width: 642px) {
  .prev-direction {
    display: none;
  }

  .next-direction {
    display: none;
  }

  .swiper-pagination-bullet {
    width: 15px;
    height: 15px;
  }
}

@media (max-width: 636px) {
  .services__blocks {
    grid-template-rows: 250px 250px 250px 250px 250px 250px;
    grid-template-columns: 1fr;
  }

  .blocks__block:nth-of-type(1) {
    grid-column: 1/2;
    grid-row: 1/2;
  }

  .blocks__block:nth-of-type(3) {
    grid-column: 1/2;
    grid-row: 2/3;
  }

  .blocks__block:nth-of-type(4) {
    grid-column: 1/2;
  }

  .blocks__button {
    max-width: none;
  }
}

@media (max-width: 630px) {
  .services {
    padding-bottom: 30px;
  }

  .services__title {
    font-size: 25px;
    line-height: 30px;
    margin: 0 0 20px 0;
  }

  .catalog__title {
    font-size: 25px;
    line-height: 30px;
    margin-bottom: 20px;
  }

  .catalog__subtitle {
    font-size: 17px;
    line-height: 25px;
    margin-bottom: 22px;
  }

  .sort__nav-block {
    padding: 15px 0 15px 0;
  }

  .boss {
    padding-top: 40px;
  }

  .boss__info {
    padding-bottom: 40px;
  }

  .boss__title {
    font-size: 25px;
    line-height: 30px;
  }

  .boss__name {
    font-size: 19px;
    line-height: 25px;
  }

  .boss__text {
    font-size: 14px;
    line-height: 22px;
  }

  .boss__text p:not(:last-child) {
    margin-bottom: 19px;
  }
}

@media (max-width: 625px) {
  .fullscreen-body {
    padding: 10px 0 50px 0;
  }

  .fullscreen-body__title {
    font-size: 30px;
    line-height: 55px;
    margin-bottom: 23px;
  }

  .fullscreen-body__text {
    font-size: 18px;
    line-height: 30px;
    margin-bottom: 27px;
  }

  .fullscreen-body__numbers {
    margin: 0 0 30px 0;
  }

  .fullscreen-body__button {
    font-size: 18px;
    line-height: 27px;
    padding: 15px 25px;
  }

  .fullscreen-body__button:hover {
    color: white;
    background-color: #2a94e2;
    -webkit-box-shadow: none;
            box-shadow: none;
  }

  .numbers__left {
    font-size: 60px;
    font-weight: 300;
  }

  .numbers__right {
    font-size: 14px;
    line-height: 22px;
  }

  .gift {
    margin: 0 0 33px 0;
  }

  .gift__text {
    margin: 0 0 0px 20px;
    font-size: 14px;
    line-height: 22px;
  }

  .test {
    padding: 50px 0 50px 0;
  }

  .test__title {
    font-size: 25px;
    line-height: 30px;
    margin: 0 0 20px 0;
  }

  .test__subtitle {
    font-size: 17px;
    line-height: 25px;
    margin: 0 0 22px 0;
  }

  .test__questions {
    padding: 23px 18px 18px 18px;
  }

  .test__text {
    padding: 0px 20px 10px 20px;
  }

  .test__text-item {
    font-size: 14px;
    line-height: 24px;
    background-position: 0 15px;
  }

  .questions__title {
    font-size: 18px;
    line-height: 28px;
  }

  .questions__text {
    margin: 15px 0 15px 0;
  }
}

@media (max-width: 600px) {
  .menu-hidden__item {
    padding: 20px 10px 20px 10px;
  }
}

@media (max-width: 550px) {
  .header__content {
    padding: 10px 0 10px 0;
  }

  .logo__img img {
    width: 80px;
  }

  .contacts {
    -webkit-box-orient: horizontal;
    -webkit-box-direction: normal;
        -ms-flex-direction: row;
            flex-direction: row;
    -webkit-box-pack: justify;
        -ms-flex-pack: justify;
            justify-content: space-between;
    padding: 15px 0 15px 0;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
    -webkit-box-flex: 1;
        -ms-flex: 1 0 100%;
            flex: 1 0 100%;
  }

  .contacts__call {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    padding: 10px 10px;
  }

  .menu-hidden__item:hover {
    color: black;
    background-color: white;
  }

  .footer__content {
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
  }

  .footer__info {
    -webkit-box-flex: 1;
        -ms-flex: 1 1 auto;
            flex: 1 1 auto;
    margin-bottom: 40px;
  }

  .footer__logo {
    -webkit-box-flex: 1;
        -ms-flex: 1 1 auto;
            flex: 1 1 auto;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    margin-bottom: 30px;
  }

  .footer__text {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    text-align: center;
  }

  .footer__contacts {
    -webkit-box-flex: 1;
        -ms-flex: 1 1 auto;
            flex: 1 1 auto;
    margin-left: 0px;
  }
}

@media (max-width: 540px) {
  .direction {
    padding: 25px 0 25px 0;
  }

  .direction__title {
    font-size: 24px;
    line-height: 35px;
    margin: 0 0 20px 0;
  }

  .card {
    padding: 20px 30px 15px 40px;
  }

  .card__title {
    font-size: 17px;
    line-height: 26px;
    margin: 0 0 15px 0;
  }

  .card__info {
    padding-right: 10px;
  }

  .card__post {
    font-size: 11px;
    line-height: 18px;
  }

  .card__name {
    font-size: 14px;
    line-height: 24px;
    margin: 0 0 15px 0;
  }

  .card__number {
    font-size: 22px;
    line-height: 33px;
  }

  .card__email {
    font-size: 14px;
    line-height: 24px;
  }
}

@media (max-width: 530px) {
  .send__content input {
    font-size: 16px;
    line-height: 26px;
    margin: 0 0 15px 0;
  }

  .send__content button {
    font-size: 16px;
    line-height: 20px;
    padding: 10px 0px;
    width: 100%;
  }

  .send__text {
    font-size: 15px;
    line-height: 26px;
    max-width: 300px;
  }

  .send__text span {
    font-size: 20px;
    line-height: 30px;
  }
}

@media (max-width: 493px) {
  .questions__counter {
    max-width: 150px;
  }
}

@media (max-width: 468px) {
  .fullscreen-body__title {
    font-size: 24px;
    line-height: 40px;
    margin-bottom: 13px;
  }

  .fullscreen-body__text {
    font-size: 14px;
    line-height: 25px;
    margin-bottom: 13px;
  }

  .fullscreen-body__button {
    width: 100%;
    max-width: none;
    padding: 15px 15px;
  }

  .numbers {
    margin: 0 0 20px 0px;
  }

  .numbers__item {
    margin: 0 0 0 0px;
  }

  .gift__text {
    font-size: 13px;
    line-height: 20px;
  }
}

@media (max-width: 444px) {
  .modal-window__content {
    width: 300px;
    border-radius: 10px;
  }

  .modal-window__close::after {
    width: 15px;
    top: 10px;
  }

  .modal-window__close::before {
    width: 15px;
    top: 10px;
  }

  .modal-window__title {
    font-size: 20px;
    line-height: 30px;
    margin-bottom: 10px;
  }

  .modal-window__text {
    font-size: 15px;
    line-height: 22px;
    margin-bottom: 20px;
  }

  .modal-window__form input {
    margin-bottom: 15px;
    font-size: 15px;
    line-height: 22px;
    padding: 8px;
  }

  .modal-window__form button {
    font-size: 17px;
    line-height: 22px;
    padding: 10px 0 10px 0;
  }
}

@media (max-width: 440px) {
  .sort-block__title {
    font-size: 16px;
    line-height: 24px;
    margin-top: 15px;
    padding: 0 10px;
  }

  .sort-block__lot {
    font-size: 13px;
    line-height: 22px;
    padding: 0 10px;
  }

  .sort-block__info {
    padding: 0 10px;
  }

  .sort-block__price {
    font-size: 20px;
    line-height: 27px;
  }

  .sort-block__square {
    font-size: 13px;
    line-height: 23px;
  }

  .sort-block__floor {
    font-size: 13px;
    line-height: 23px;
  }
}

@media (max-width: 420px) {
  .catalog__title {
    font-size: 22px;
    line-height: 27px;
    margin-bottom: 15px;
  }

  .catalog__subtitle {
    font-size: 15px;
    line-height: 23px;
    margin-bottom: 15px;
  }

  .boss__title {
    font-size: 22px;
    line-height: 27px;
  }

  .boss__name {
    font-size: 17px;
    line-height: 23px;
  }

  .boss__text {
    font-size: 13px;
    line-height: 20px;
  }

  .boss__button {
    max-width: none;
    width: 100%;
  }
}

@media (max-width: 400px) {
  .contacts__number {
    font-size: 16px;
    line-height: 25px;
  }

  .contacts__call {
    font-size: 12px;
    line-height: 18px;
  }

  .test__title {
    font-size: 22px;
    line-height: 27px;
    margin: 0 0 15px 0;
  }

  .test__subtitle {
    font-size: 15px;
    line-height: 23px;
    margin: 0 0 15px 0;
  }

  .questions__item {
    padding: 10px;
  }

  .questions__text {
    margin: 15px 0 0px 0;
  }

  .questions__info {
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
  }

  .questions__counter {
    max-width: none;
    margin-bottom: 10px;
  }

  .questions__next {
    font-weight: bold;
  }

  .services__title {
    font-size: 22px;
    line-height: 27px;
    margin: 0 0 15px 0;
  }

  .blocks__content {
    padding-right: 15px;
    left: 15px;
  }

  .about-us__title {
    font-size: 20px;
    line-height: 30px;
    margin: 0 0 15px 0;
  }

  .about-us__text p {
    font-size: 13px;
    line-height: 20px;
    margin: 0 0 10px 0;
  }

  .about-us__button {
    max-width: none;
    width: 100%;
  }

  .card {
    padding: 10px 20px 10px 30px;
  }

  .card__title {
    text-align: center;
  }

  .card__center {
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
  }

  .card__info {
    text-align: center;
  }
}

@media (max-width: 370px) {
  .card__info {
    padding-right: 0px;
  }

  .card__img {
    display: none;
  }
}

.webp .blocks__block:nth-of-type(1){ background-image: url(../img/Rectangle12.webp); }

.webp .blocks__block:nth-of-type(2){ background-image: url(../img/Rectangle12.1.webp); }

.webp .blocks__block:nth-of-type(3){ background-image: url(../img/Rectangle12.3.webp); }

.webp .blocks__block:nth-of-type(4){ background-image: url(../img/Rectangle12.2.webp); }

.webp .blocks__block:nth-of-type(5){ background-image: url(../img/Rectangle12.4.webp); }

.webp .blocks__block:nth-of-type(6){ background-image: url(../img/Rectangle12.5.webp); }

.webp .prev-direction{ background-image: url(../img/right-arrow.webp); }

.webp .next-direction{ background-image: url(../img/right-arrow.webp); }

.webp .card{ background-image: url(../img/1df.webp); }

.webp .fullscreen{ background-image: url(../img/bg.webp); }